.fab {
	font-size: 10rem;
	position: relative;
	margin: 1rem;
	width: 12.5%;
}

.fa-html5 {
	color: #e34c26;
}

.fa-css3-alt {
	color: #264de4;
}

.fa-js-square {
	color: #f0db4f;
}

.fa-sass {
	color: #cc6699;
}

.fa-react {
	color: #61dbfb;
}

.carousel {
	min-height: 200px;
	overflow: hidden;
	width: 25vw;
	position: relative;
	height: 100%;
}

.slider {
	height: 100%;
	display: flex;
	width: 400%;
	transition: all 0.2s;
}
