.fab {
	font-size: 3rem;
	margin: 1rem;
}

.fa-html5 {
	color: #e34c26;
}

.fa-css3-alt {
	color: #264de4;
}

.fa-js-square {
	color: #f0db4f;
}

.fa-sass {
	color: #cc6699;
}

.fa-react {
	color: #61dbfb;
}
